---
import {supabase} from '../js/supabase_client'; 

const user = Astro.url.searchParams
var email = user.get('email') ?? 'n/a'
const pw = user.get('pw') ?? 'n/a'

var rfl = false;

async function checkLogin(){
    if(email != 'n/a'){//TEMP
        
        const { data, error } = await supabase.auth.signInWithPassword({
            email: email,
            password: pw,
        })
        if(error == null){
            //console.log(data['session']['refresh_token'])
           
            return data;
        }else{
            alert('No such user!')
            email = ''//TEMP
        }
    }
}

const ud = await checkLogin();
if(ud != null){
    // const { data, error } = await supabase.auth.setSession({
    //     refresh_token:ud['session']['refresh_token'], 
    //     access_token:ud['session']['access_token']});
        
    // console.log('this is refresh//////////////');
    // console.log(data);

    Astro.cookies.set('token', ud['session']['access_token']);
    //Astro.cookies.set('uemail', ud['user']['email']);
}

if(ud != null){
    //console.log(ud['session'])
    rfl = false;
    return Astro.redirect('http://localhost:3000/u_startpage');
    //return Astro.redirect('http://localhost:3000/u_startpage?tk='+ ud['session']['access_token']);
}else{
    //return Astro.redirect('http://localhost:3000/login');
    rfl = true;
}
---

<script define:vars={{ rfl }}>
if(rfl){
    window.history.replaceState({}, document.title, "/login");
}
</script>

<form action = "http://localhost:3000/login" method = "GET">
    Email: <input type = "text" name = "email">  <br>
    Pw: <input type = "text" name = "pw">
    <input type = "submit" value = "Submit">
 </form>
